<h2 class="currency-title">Currency Exchanger</h2>
<section class="panel">
  <div class="grid col-1-of-3">
    <div class="panel__input">
      <label for="amount">Amount</label>
      <input type="number" id="amount" />
    </div>
    <div class="panel__select grid col-2-of-3">
      <div class="panel__select--from">
        <label for="from">From</label>
        <select name="sss" id="from">
          <option value="EUR">Eur</option>
        </select>
      </div>
      <img
        class="panel-image"
        src="../../../../../assets/images/pngwing.com.png"
        alt=""
      />
      <div class="panel__select--to">
        <label for="to">To</label>
        <select name="" id="to">
          <option value="USD">USD</option>
        </select>
      </div>
    </div>
  </div>

  <div class="panel__convert grid col-1-of-3">
    <div></div>
    <button class="panel--button">Convert</button>
  </div>

  <div class="panel__detailes grid col-2-of-3 align-center">
    <div>1 EUR = xx.xx USD</div>
    <div>xx.xx USD</div>
    <button class="button--secondary">More Detailes</button>
  </div>
</section>
