@import "/src/styles/abstract/_variables";
.header {
  margin: 0.1rem 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: $color-dark-blue;
  padding: 1rem 2rem;
  color: $color-light-grey;
  &__box {
    display: flex;
    align-items: center;
    gap: 1rem;
    img,span{
          cursor: pointer;
    }
  }

  &__menu {
    gap: 1rem;
  }
  &-item {
    border: 1px solid $color-light-grey;
    padding: 0.6rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transform: all 0.3s;

    &:hover {
      transform: translateY(-2px);
      background-color: $color-light-grey;
      color: $color-dark-blue;
    }
  }
}
@media (max-width: 768px) {
  .header {
    display: grid;
    gap: 1rem;
    &__menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__nav {
      justify-content: center;
    }
  }
}
