<header class="header flex justify-between">
  <div class="header__box">
    <h1 class="header-logo">Logo</h1>
  </div>
  <nav class="header__nav flex justify-center align-center">
    <ul class="header__menu flex justify-center align-center">
      <li class="header-item flex justify-center align-center" (click)="goToDetailes('EUR','USD')"><a>EUR-USD Details</a></li>
      <li class="header-item flex justify-center align-center" (click)="goToDetailes('EUR','GBP')"><a >EUR-GBP Details</a></li>
    </ul>
  </nav>
</header>
