@import "/src/styles/abstract/_variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  a {
    text-decoration: none;
    color: inherit;
  }
}
html {
  font-size: 62.5%;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: $color-light-grey;
}
